<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:mimeType="*/*"
                android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kitool"
        tools:targetApi="33">

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:launchMode="singleTop" />

        <activity
            android:name=".search.SearchActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:label="@string/action_web_search"
            android:noHistory="true"
            android:theme="@style/Theme.Kitool.Transparent"
            tools:targetApi="36">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".save.SaveActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:label="@string/action_save_copy"
            android:noHistory="true"
            android:requireContentUriPermissionFromCaller="read"
            android:theme="@style/Theme.Kitool.Transparent"
            tools:targetApi="36">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="font/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="model/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="font/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="model/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bridge.ShareToOpenActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:label="@string/action_share_to_open"
            android:noHistory="true"
            android:requireContentUriPermissionFromCaller="read"
            android:theme="@style/Theme.Kitool.Transparent"
            tools:targetApi="36">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bridge.OpenToShareActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:label="@string/action_open_to_share"
            android:noHistory="true"
            android:requireContentUriPermissionFromCaller="read"
            android:theme="@style/Theme.Kitool.Transparent"
            tools:targetApi="36">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="*/*"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".save.SaveService"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
